<div class="row">
  <div class="span12">
    <h2 class="titile"><%= @post.title %></h2>
    <div class="content"><%= markdown(@post.content) %></div>
    <div class="source"><%= @post.source %></div>
  </div>
</div>