<div class="row">
  <div class="span12">
    <%= link_to("New post", new_post_path , :class => "btn btn-mini btn-primary pull-right")%>
  </div>
</div>
<br>
<div class="row">
  <div id="paginator" class="span12">
    <%= paginate @posts, :remote => true %>
  </div>
  <div class="span3">
    <ul id="posts" class="nav nav-tabs nav-stacked">
      <%= render @posts %>
    </ul>
  </div>
  <div class="span9">
    <div id="content">

    </div>
  </div>
</div>


<script>
$('.nav-stacked > li:first > a').trigger('click');
</script>