<div class="row">
  <div class="span12">
    <%= link_to("New post", new_post_path , :class => "btn btn-mini btn-primary pull-right")%>
  </div>
</div>
<br>
<div class="row">
  <div class="span4">
    <% @posts.each do |post| %>
      <ul class="nav nav-tabs nav-stacked">
        <!-- <li> <%= link_to(post.title, post_path(post)) %> </li> -->
        <li> <%= link_to 'ajax show', post_path(post), :remote => true, "data-type" => "script" %> </li>
      </ul>
    <% end %>
  </div>
  <div class="span8">
    <div id="content" class="well">

    </div>
  </div>
</div>