<div class="row">
  <div class="span12">
    <%= link_to("New post", new_post_path , :class => "btn btn-mini btn-primary pull-right")%>
  </div>
</div>
<br>
<div class="row">
  <div class="span3">
    <ul id="posts" class="nav nav-tabs nav-stacked">
      <%= render @posts %>
    </ul>
  </div>
  <div class="span9">
    <div id="content"></div>
  </div>
  <div id="paginator" class="span12">
    <%= paginate @posts, :remote => true %>
  </div>
</div>


<script>
$('#posts').find('a:first').trigger('click');
$('#posts').find('li:first').addClass('active');

$('#posts').find('li').click(function(e) {
  var $this = $(this);
  $('#posts > li').removeClass('active');
  if (!$this.hasClass('active')) {
    $this.addClass('active');
  }
});

$('body').keydown(function(e) {
  /******************** left ********************/
  if(e.keyCode == 37) {
    $('.prev').find('a').trigger('click');
    console.log('left');
  }
  /******************** right ********************/
  else if(e.keyCode == 39) {
    $('.next').find('a').trigger('click');
    console.log('right');
  }
  /******************** up ********************/
  else if (e.keyCode == 38) {

  }
  /******************** down ********************/
  else if (e.keyCode == 40) {
  }
});

</script>